/* html {
  height: 100vh;
  overflow: hidden;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}
.section1,.section2{
  width: 100vw;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}/*

.section1:before{
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("./assets/abstract_background_with_modern_hexagonal_tech_design_2801.jpg") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
 
} 

.question{
    font-family: 'Gibson','Noto Sans', sans-serif;
  } 

  #root{
    padding: 0;
  }

  body{
    background-color: #CCCCCC;
  }*/

  * {
    margin: 0;
    padding: 0;
  }

  .parallax {
    perspective: 1px;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__img {
    width: 100vw;
    height: 100vh;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 2000px;
  }
  .parallax__layer_1 {
    transform: translateZ(-1px) scale(2);
    /* height:300vh; */
    background-image: url("./assets/abstract_background_with_modern_hexagonal_tech_design_2801.jpg");
    background-repeat: repeat-y;
   
  }
  .parallax__layer_6 {
    transform: translateZ(-11px) scale(2);
    height:100vh;
  }
  .parallax__layer_12 {
    transform: translateZ(-25px) scale(3);
    height:100vh;
  }
  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }





  .question{
    transform: translateZ(20px);
    transform-style: preserve-3d;
    font-family: 'Gibson','Noto Sans', sans-serif;

   
  } 



@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
